#h2box {
    background-image: url(../images/vis_company.jpg);
}


.cimgbox {
    text-align: center;
    padding: 20px 20px;    
}
.cimgbox img {
    width: 350px;
}
.cimgbox span {
    font-weight: bold;
    font-size: 1.3em;
}
.ceo-main {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 30px;
}
.ceo-sub {
    text-align: center;
    padding: 0px 20px;
    font-size: 0.87em;
    color: #333;
    margin-bottom: 60px;
    word-break: keep-all;
}




























